@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@font-face {
  font-family: 'Major Mono';
  src: url('./assets/fonts/major-mono/regular.woff2') format('woff2'),
    url('./assets/fonts/major-mono/regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('./assets/fonts/proxima-nova/light.woff2') format('woff2'),
    url('./assets/fonts/proxima-nova/light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/proxima-nova/regular.woff2') format('woff2'),
    url('./assets/fonts/proxima-nova/regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('./assets/fonts/proxima-nova/bold.woff2') format('woff2'),
    url('./assets/fonts/proxima-nova/bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 12px;
  @variant md {
    font-size: 14px;
  }
  @variant lg {
    font-size: 16px;
  }
}

body {
  @apply m-0;
  font-family: "Proxima Nova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(./assets/images/noise.png);
  background-size: 200px 200px;
  background-position: 0 0;
}

:root {
  --background: #ffffff;
  --foreground: #3f3f46;
  --foreground-2: #5D5D68;
  --primary: #2A71D2;
}

.dark {
  --background: #18181b;
  --foreground: #ffffff;
  --foreground-2: #dddddd;
  --primary: #2A71D2;
  /* #89A069 */
  /* #FFDA3B */
  /* #F29FB3 */
  /* #2A71D2 */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-2: var(--foreground-2);
  --color-primary: var(--primary);

  --animate-wave: wave 2.5s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}